
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: main-counter;
    width: 400px;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
  }
  

  ul > li {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px 10px 10px 50px;
    position: relative;
    counter-increment: main-counter;
    width: 400px;
  }
  

  ul > li::before {
    content: counter(main-counter);
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #ddd;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 18px;
    box-sizing: border-box;
  }
  
  ul > li:last-child {
    background-color: #ddd;
  }
  
  ul > li > ul {
    counter-reset: sub-counter;
    margin-top: 10px;
    padding-left: 0;
    width: 400px;
  }
  

  ul > li > ul > li {
    counter-increment: sub-counter;
    background-color: white;
    padding: 10px 10px 10px 60px;
    margin-bottom: 10px;
    position: relative;
  }
  

  ul > li > ul > li::before {
    content: counter(main-counter) "." counter(sub-counter);
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #009999;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
  }
  