body {
    text-align: center;
    padding: 20px;
    width: 400px;
    margin: 20px auto;
    text-transform: capitalize;
}

div {
    padding: 15px;
    margin: 10px;
    border: 1px solid #000;
    background-color: #EEE;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 1px;
}

.cairo {
    font-family: "Cairo", sans-serif;
    font-weight: bolder;
    font-size: larger;
}

.jomhuria {
    font-family: "Jomhuria", sans-serif;
    font-weight: bold;
}
