body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #fff;
  }
  
  .grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 80px; 
  }
  
  .grid .div {
    background-color: #e91e63;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  